<h1>All our flats (<%= @flats.length %>)</h1>

<% @flats.each do |flat| %>
  <h1><%= flat.name %></h1>
  <p><%= flat.address %></p>
  <span><i class="fas fa-users"></i>
<%= flat.number_of_guests %></span>
  <span><i class="fas fa-dollar-sign"></i> <%= flat.price_per_night %></span>
<% end %>
